{% extends 'base.html' %}

{% block title %}{{ pack.name }}{% endblock %}

{% block content %}
<div class="pack-detail">
  <div class="pack-info">
    <h1>{{ pack.name }}</h1>
    <p class="price">{{ pack.price }}</p>
    <p class="description">{{ pack.description }}</p>
    <button class="purchase">Comprar Ahora</button>
  </div>
</div>
{% if sounds %}
<table class="sound-list">
  <tbody>
    {% for s in sounds %}
    <tr data-audio="{{ s.preview_url }}">
      <td>{{ s.name }}</td>
      <td>{{ s.duration }}</td>
      <td><canvas class="waveform"></canvas></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
