{% extends 'base.html' %}

{% block title %}Previews{% endblock %}

{% block content %}
  <h1>Previews</h1>
  {% for p in previews %}
  <div class="preview">
    <p>{{ p.name }}</p>
    <div id="wave-{{ loop.index }}" class="h-24 w-full"></div>
    <button onclick="players[{{ loop.index0 }}].playPause()">Play/Pause</button>
  </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    window.players = [];
    {% for p in previews %}
    window.players[{{ loop.index0 }}] = WaveSurfer.create({
      container: '#wave-{{ loop.index }}',
      waveColor: '#999',
      progressColor: '#333',
      height: 80
    });
    window.players[{{ loop.index0 }}].load('{{ p.url }}');
    {% endfor %}
  </script>
{% endblock %}

