{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<div class="dashboard-container">
  <div class="dashboard-login">
    <h2>Crear cuenta</h2>
    <form method="POST">
      <input id="auth-email" name="email" type="email" placeholder="Email" autoComplete="email" required>
      <input id="auth-username" name="username" type="text" placeholder="Nombre de usuario" autoComplete="username" required>
      <input id="auth-password" name="password" type="password" placeholder="Contraseña" autoComplete="new-password" required>
      <button id="auth-register-submit" name="submit" type="submit">Registrar</button>
    </form>
  </div>
</div>
{% endblock %}
