{% extends 'base.html' %}
{% block title %}Crear usuario{% endblock %}
{% block content %}
<div class="dashboard-container">
  <div class="dashboard-login">
    <h2>Crear usuario</h2>
    <form method="POST">
      <input id="auth-email" name="email" type="email" placeholder="Email" autoComplete="email" required>
      <input id="auth-password" name="password" type="password" placeholder="Contrase\u00f1a" autoComplete="new-password" required>
      <button id="auth-signup-submit" name="submit" type="submit">Crear</button>
    </form>
  </div>
</div>
{% endblock %}
